@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body,
html {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}



h1 {
    font-weight: 800;
    font-size: 50px;

}

h2 {
    font-weight: 800;
    font-size: 50px;

}

h3 {
    font-weight: bold;
    font-size: 30px;
}

h4 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

nav{
height: 100px;
background-color: white;
box-shadow: 0 5px 8px rgba(0, 0, 0, 0.20);
position: sticky;
top: 0;

}

nav .logo{
display: block;
width: 300px;
height: 40px;
position: absolute; top: 50%; left: 30px;
margin-top: -20px;
background: url(images/logo.png) no-repeat 0 0;
background-size: 100%;
overflow: hidden;
text-indent: -999px;
}

nav ul{
    padding: 0 20px 0 0;
    margin: 0;
}

nav ul li{
    padding: 0;
    margin: 0;
    display: block;
    float:right
}

nav ul li a{
display: block;
height: 100%;
box-sizing: border-box;
font-size: 30px;
font-weight: bold;
color: black;
text-decoration: none;
padding: 35px 10px;
line-height: 1;
}


.wrapper {
    width: 960px;
    margin: 0 auto;
}

.hero-banner {
    background-color: #007FFF;
    min-height: 100vh;
    padding: 80px 50px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.hero-banner h4,
.hero-banner h4 a {
    color: white;
    margin: 0;
}

.hero-banner h3 {
    color: white;
    margin: 0;
    margin-bottom: 35px;
}

.hero-banner h1 {
    color: white;
    margin-top: 14px;
    margin-bottom: 20px;
}


.character1 {
    background: url(images/character1.png) no-repeat 0 0;
    background-size: 100%;
    width: 363px;
    height: 344px;
    position: absolute;
    top: 10%;
    right: 10%;
    transform: rotate(15deg);

}

.character2 {
    background: url(images/character2.png) no-repeat 0 0;
    background-size: 100%;
    width: 309px;
    height: 371px;
    position: absolute;
    top: 213px;
    right: 277px;

}

.character3 {
    background: url(images/character3.png) no-repeat 0 0;
    background-size: 100%;
    width: 297px;
    height: 286px;
    position: absolute;
    bottom: 5%;
    right: 109px;

}

a.cta,
button.cta {
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: #007FFF;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0, 128, 255, 0.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    border-color: rgba(0, 0, 0, 0);

}

a.cta.alt,
button.cta.alt {
    font-size: 30px;
    font-weight: bold;
    color: black;
    background: #FFD400;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;

}

.more-info{
text-align: center;

}

p{
font-weight: bold;
font-size: 30px;
margin: 30px 0;
}