@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body,
html {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}



h1 {
    font-weight: 800;
    font-size: 50px;

}

h2 {
    font-weight: 800;
    font-size: 50px;

}

h3 {
    font-weight: bold;
    font-size: 30px;
}

h4 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

nav{
height: 100px;
background-color: white;
box-shadow: 0 5px 8px rgba(0, 0, 0, 0.20);
position: sticky;
top: 0;
z-index: 1;

}

nav .logo{
display: block;
width: 300px;
height: 40px;
position: absolute; top: 50%; left: 30px;
margin-top: -20px;
background: url(images/logo.png) no-repeat 0 0;
background-size: 100%;
overflow: hidden;
text-indent: -999px;
}

nav ul{
    padding: 0 20px 0 0;
    margin: 0;
}

nav ul li{
    padding: 0;
    margin: 0;
    display: block;
    float:right
}

nav ul li a{
display: block;
height: 100%;
box-sizing: border-box;
font-size: 30px;
font-weight: bold;
color: black;
text-decoration: none;
padding: 35px 10px;
line-height: 1;
}


.wrapper {
    width: 960px;
    margin: 0 auto;
}

.hero-banner {
    background-color: #007FFF;
    min-height: 100vh;
    padding: 80px 50px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.hero-banner h4,
.hero-banner h4 a {
    color: white;
    margin: 0;
}

.hero-banner h3 {
    color: white;
    margin: 0;
    margin-bottom: 35px;
}

.hero-banner h1 {
    color: white;
    margin-top: 14px;
    margin-bottom: 20px;
}


.character1 {
    background: url(images/character1.png) no-repeat 0 0;
    background-size: 100%;
    width: 363px;
    height: 344px;
    position: absolute;
    top: 10%;
    right: 10%;
    transform: rotate(15deg);

}

.character2 {
    background: url(images/character2.png) no-repeat 0 0;
    background-size: 100%;
    width: 309px;
    height: 371px;
    position: absolute;
    top: 213px;
    right: 277px;

}

.character3 {
    background: url(images/character3.png) no-repeat 0 0;
    background-size: 100%;
    width: 297px;
    height: 286px;
    position: absolute;
    bottom: 5%;
    right: 109px;

}

a.cta,
button.cta {
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: #007FFF;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0, 128, 255, 0.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;

}

a.cta:active,
button.cta:active{

    opacity: 0.7;

}

a.cta.alt,
button.cta.alt {
    font-size: 30px;
    font-weight: bold;
    color: black;
    background: #FFD400;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    transform: translateX(10px);

}

.more-info{
text-align: center;

}

p{
font-weight: bold;
font-size: 30px;
margin: 30px 0;
}

.sep{
width: 470px;
height: 10px;
background-color: black;
margin: 70px auto;

}

.story h3{
    font-size: 40px;
    font-weight: 800;
}

.nb-list{
width: 470px;
padding: 20px 20px 0 20px;
box-sizing: border-box;
background-color: #f1f1f1;
float: left;
margin: 0 20px 20px 0;
position: relative;
}

.highlight{
    background-color: #FFADF9;
	color: #FF3300;
	padding: 5px 10px;
	line-height: 0.8;
	display: inline;
	font-weight: 800;
}



.nb-list li{
    height: 70px;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    padding: 6px 20px;
    box-sizing: border-box;
}

.nb-list li.blue { background-color: #007FFF;}
.nb-list li.gray { background-color: #D7D7D7;}
.nb-list li.yellow {
    background-color: #FFD400;
    color: black;}
.nb-list li.red { background-color: red;}
.nb-list li.pink { background-color: #FFADF9;}
.nb-list li.salmon { background-color: salmon;}

.nb-list li.dragging{
position: absolute;
top: 75px;
left: 70px;
right: -30px;
transform: rotate(6deg);
box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);

}

.nb-list li.dragging:after{
content: '';
display: block;
position: absolute;
width: 54px;
height: 50px;
background: url(images/hand.png) no-repeat 0 0;
background-size: 100%;
bottom: -20px;
left: 65%;
}

.gang-img{
display: block;
margin: 0 auto;

}

footer{
    text-align: center;
    color: rgba(0, 0, 0, 0.40);
    font-size: 20px;
    margin: 85px 0 45px 0;
    font-weight: bold;
}

footer a{
    color: rgba(0, 0, 0, 0.40);

}

.popup{
   display: none;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 2;
}

.popup.show{
    display: block;
}


.popup .blanket{
    background-color: rgba(0, 0, 0, 0.70);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}
.popup .content{
    box-sizing: border-box;
    padding: 30px 40px;
    width: 960px;
    height: 500px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -480px;
}

.popup h2{
    margin: 10px 0 20px 0;
}

.popup .close{
width: 80px;
height: 80px;
background-color: #FF3300;
background: url(images/Group\ 4.png) no-repeat center center;
background-size: 100%;
position: absolute;
top: -40px;
right: -40px;
border: none;
outline: none;
overflow: hidden;
text-indent: -999px;
cursor: pointer;
}

.popup .cta{
    margin-top: 40px;
}


.popup .row{

}

.popup .row::after{
content: '';
display: table;
clear: both;

}

.popup .item{

    float: left;
    width: 415px;
    margin-left: 40px;
    text-align: left;
}

.popup .item:first-child{

    margin-left: 0;
}

.popup .item label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}

.popup .item input[type='text']{
display: block;
font-size: 30px;
font-weight: bold;
border: 4px solid #000000;
height: 70px;
width: 423px;
box-sizing: border-box;
padding: 15px 20px;
}